<header class="header">
  <app-navbar></app-navbar>
</header>

<main>
  <section id="introduction" class="introduction">
    <div class="first-part">
      <h1 class="slogan">Transforma tus Sueños en Kilómetros con CrediApp</h1>
      <p class="slogan-explanation">Descubre la libertad de conducir con nuestras soluciones financieras.
        CrediApp, tu socio en el camino hacia el auto de tus sueños. ¡Conduce
        hacia el futuro con confianza y comodidad financiera!</p>

      <div class="action-buttons">
        <button class="custom-principal-button register-button" mat-raised-button>REGISTRARSE</button>
        <button class="custom-principal-button login-button" mat-raised-button>INICIA SESIÓN</button>
      </div>

    </div>

    <div class="images">
      <img src="assets/car.png" class="car-image">
      <img src="assets/sleep.png" class="sleep-image">
      <img src="assets/target.png" class="target-image">
    </div>
  </section>

  <section class="brands-cars">
    <div id="brands-cars" class="brand-cars-title">
      <h2>Puedes elegir entre las principales marcas de auto</h2>
    </div>

    <div class="brands-cars-list">
      <ul>
        <li>CHEVROLET</li>
        <li>TOYOTA</li>
        <li>NISSAN</li>
        <li>SUSUKI</li>
        <li>BMW</li>
      </ul>
    </div>
  </section>

  <section id="principal-features" class="principal-features">

    <div class="principal-features-explanation">
      <h2 class="principal-features-explanation-title">TU CRÉDITO, UN CÁLCULO SENCILLO</h2>
      <p class="principal-features-explanation-paragraph">
        Nuestra herramienta de cálculo te brida una experiencia sencilla
        y transparente, permitiéndote entender y planificar tu crédito
        de manera fácil y rápida
      </p>
    </div>

    <div class="principal-features-list">
      <div class="feature feature1">
        <div class="feature-container">
          <img src="assets/configura-logo.png" class="feature-image">
          <h3 class="feature-container-title">
            CONFIGURA
          </h3>
          <p class="feature-container-explanation">
            Elige tu vehículo, la Tasa que deseas, el tipo
            de moneda, el plazo de gracia, muchas opciones
            a tu alcance.
          </p>
        </div>
      </div>

      <div class="feature feature2">
        <div class="feature-container">
          <img src="assets/resultados-inmediatos-logo.png" class="feature-image">
          <h3 class="feature-container-title">
            RESULTADOS INMEDIATOS
          </h3>
          <p class="feature-container-explanation">
            No esperes más en interminables colas, con un
            solo click el cronograma estará al alcance de
            tu mano.
          </p>
        </div>
      </div>

      <div class="feature feature3">
        <div class="feature-container">
          <h3 class="feature-container-title">
            TU CRONOGRAMA DE PAGOS PERSONALIZADO
          </h3>
          <p class="feature-container-explanation">
            Toma el control de tus finanzas vehiculares.
            Elige tus preferencias y recibe al instante
            un detallado cronograma de pagos mensuales
          </p>
          <img src="assets/cronograma-pagos-logo.png" class="feature-image">
        </div>
      </div>

      <div class="feature feature4">
        <div class="feature-container">
          <img src="assets/indicadores-financieros-logo.png" class="feature-image">
          <h3 class="feature-container-title">
            INDICADORES FINANCIEROS
          </h3>
          <p class="feature-container-explanation">
            Indicadores como la VAN y la TIR a tu disposición
            para ayudarte a tomar la mejor decisión financiera
          </p>
        </div>
      </div>

      <div class="feature feature5">
        <div class="feature feature4">
          <div class="feature-container">
            <img src="assets/historial-logo.png" class="feature-image">
            <h3 class="feature-container-title">
              HISTORIAL
            </h3>
            <p class="feature-container-explanation">
              Ten todos tus cronogramas de pagos hechos
              en un historial, no pierdas mas información.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="action-buttons">
      <button class="custom-principal-button register-button" mat-raised-button>REGISTRARSE</button>
    </div>

  </section>

  <section id="our-us" class="our-us">

    <div class="our-us-container">

      <div class="our-us-img">
        <img src="assets/sobre-nosotros-imagen.png">
      </div>

      <div class="our-us-explanation">
        <h3 class="our-us-explanation-title">Sobre Nosotros</h3>
        <p class="our-us-explanation-paragraph">
          Somos una StartUp que busca brindar soluciones financieras
          a nuestros clientes, con el fin de que puedan adquirir el
          vehículo de sus sueños. Nuestro objetivo es brindar un
          servicio de calidad, con la mayor transparencia y
          confianza posible.

        <div class="our-us-explanation-list">

          <div class="our-us-explanation-list-idea">
            <img src="assets/ideas-innovadoras-logo.png">
            <p>Ideas innovadoras</p>
          </div>
          <div class="our-us-explanation-list-idea">
            <img src="assets/confianza-logo.png">
            <p>Siempre en confianza</p>
          </div>

        </div>

      </div>

    </div>



  </section>

  <section id="contact-form" class="contact-form">

    <div class="contact-form-container">

      <h2 class="contact-form-title">Contáctanos</h2>
      <form action="#" method="post" class="contact-form-container">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Mensaje:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button class="custom-principal-button contact-button" mat-raised-button>ENVIAR MENSAJE</button>
      </form>
    </div>

  </section>

</main>

<footer>
  <app-footer></app-footer>
</footer>

